*

!.ackrc
!.bash_aliases

# Don't ignore .config but ignore its contents
!.config/
.config/*

!.config/fish
!.config/fish/**

!.config/helix
!.config/helix/**

!.config/ripgrep.conf

!.config/rofi/
!.config/rofi/**

!.config/terminator/
!.config/terminator/**

!.gnupg/
.gnupg/*
!.gnupg/gpg-agent.conf

!.gitconfig
!.gitignore
!.nanorc
!.tmux.conf
!.yarnrc
!.zshrc
