*

!.ackrc
!.bash_aliases

# Don't ignore .config but ignore its contents
!.config/
.config/*

!.config/rofi/
!.config/rofi/*

!.config/terminator/
!.config/terminator/*

!.gitconfig
!.gitignore
!.nanorc
!.tmux.conf
!.yarnrc
